 <div class="card">
                    <div class="card-header">Name</div>
                    <div class="card-body">
                        <div class=content>
                            <p>ID : #</p>
                            <hr>
                            <p>email : name@here.com</p>
                            <hr>
                            <p>Office Number/GitHub/School</p>                   
                        </div>
                    </div>
                    <div class="card-footer">Role</div>
                </div>